In [1]:
import datajoint as dj
from dj_ratacad import flashcount
data=(flashcount.FlashCountTrial() & 'name = "Candace"' & 'outcome != "Omission"' & 'stage = 4').fetch(format="frame")
data = data.reset_index(level=['trial_datetime', 'stage'])

#from dj_ratacad import flashes
#data=(flashes.FlashesTrial() & 'name = "1062"' & 'outcome != "Omission"').fetch(format="frame")
#data = data.reset_index(level=['trial_datetime', 'stage'])

import pandas as pd
data['Date'] = pd.to_datetime(data['trial_datetime']).dt.date
data['Hour'] = pd.to_datetime(data['trial_datetime']).dt.hour

DataJoint verified plugin `datajoint_connection_hub` detected.
Connecting qdo@buaws-aws-cf-rds-mysql-prod.cenrervr4svx.us-east-2.rds.amazonaws.com:3306

In [6]:
data=(flashcount.FlashCountTrial() & 'name = "Candace"' & 'outcome != "Omission"' & 'outcome != "Early"' & 'stage = 4').fetch(format="frame")
data = data.reset_index(level=['trial_datetime', 'stage'])

In [7]:
data

                                             trial_datetime  stage choice  \
name    session_datetime    trial task
Candace 2022-07-30 16:39:51 92    count 2022-07-30 19:16:40      4   left
                            93    count 2022-07-30 19:16:49      4   left
                            94    count 2022-07-30 19:16:58      4   left
                            95    count 2022-07-30 19:17:06      4   left
                            96    count 2022-07-30 19:17:21      4   left
...                                                     ...    ...    ...
        2023-03-15 16:00:57 27    count 2023-03-15 21:38:39      4  right
                            28    count 2023-03-15 21:38:50      4  right
                            29    count 2023-03-15 21:39:05      4  right
                            30    count 2023-03-15 21:39:30      4   left
                            31    count 2023-03-15 23:14:20      4  right

                                         outcome         rt  init_time  \
name    session_datetime    trial task
Candace 2022-07-30 16:39:51 92    count  correct     1.8792     4.6834
                            93    count  correct     1.7923     4.7958
                            94    count  correct     2.1789     3.7765
                            95    count    error     2.0782     9.7653
                            96    count  correct     2.4146     1.2370
...                                          ...        ...        ...
        2023-03-15 16:00:57 27    count    error     2.2046     5.7717
                            28    count  correct     1.9364    11.1666
                            29    count    error     2.1106    20.1709
                            30    count    error  5786.5100  -100.0000
                            31    count    error     1.5189     0.1069

                                        correct_side  lambda_left  \
name    session_datetime    trial task
Candace 2022-07-30 16:39:51 92    count         left     0.903935
                            93    count         left     0.905672
                            94    count         left     0.900111
                            95    count        right     0.021736
                            96    count         left     0.932374
...                                              ...          ...
        2023-03-15 16:00:57 27    count         left     0.904565
                            28    count        right     0.017489
                            29    count         left     0.913027
                            30    count        right     0.082088
                            31    count         left     0.950107

                                         lambda_right  flash_bins  \
name    session_datetime    trial task
Candace 2022-07-30 16:39:51 92    count      0.074650           0
                            93    count      0.004897           0
                            94    count      0.033794           0
                            95    count      0.924453           0
                            96    count      0.040084           0
...                                               ...         ...
        2023-03-15 16:00:57 27    count      0.023412           0
                            28    count      0.990322           0
                            29    count      0.099589           0
                            30    count      0.926916           0
                            31    count      0.076412           0

                                        flashes_left flashes_right  reward  \
name    session_datetime    trial task
Candace 2022-07-30 16:39:51 92    count   0000010110    0010001000       1
                            93    count   0000101001    0100000010       1
                            94    count   0110000001    0001000100       1
                            95    count   0010000000    0100000100       0
                            96    count   0010000001    0100000000       1
...                                              ...           ...     ...
        2023-03-15 16:00:57 27    count   0000010011    0000010001       0
                            28    count   1000000010    1010010000       1
                            29    count   0110000000    0000010000       0
                            30    count   0101000000    0001101000       0
                            31    count   0010010000    0000010000       0

                                         training_criterion label  probe  \
name    session_datetime    trial task
Candace 2022-07-30 16:39:51 92    count               0.125  None      0
                            93    count               0.125  None      0
                            94    count               0.125  None      0
                            95    count               0.125  None      0
                            96    count               0.125  None      0
...                                                     ...   ...    ...
        2023-03-15 16:00:57 27    count               0.125  None      0
                            28    count               0.125  None      0
                            29    count               0.125  None      0
                            30    count               0.125  None      0
                            31    count               0.125  None      0

                                         freerw  isprobe  reversal  heavy_tail
name    session_datetime    trial task
Candace 2022-07-30 16:39:51 92    count       1        0         0           0
                            93    count       1        0         0           0
                            94    count       1        0         0           0
                            95    count       1        0         0           0
                            96    count       1        0         0           0
...                                         ...      ...       ...         ...
        2023-03-15 16:00:57 27    count       0        0         0           0
                            28    count       0        0         0           0
                            29    count       0        0         0           0
                            30    count       0        0         0           0
                            31    count       0        0         0           0

[25646 rows x 20 columns]

In [9]:
 data= data.iloc[10000:-1]

In [10]:
data

                                             trial_datetime  stage choice  \
name    session_datetime    trial task
Candace 2022-11-26 19:24:21 73    count 2022-11-27 04:16:01      4   left
                            74    count 2022-11-27 04:16:07      4   left
                            76    count 2022-11-27 04:16:32      4  right
                            77    count 2022-11-27 04:17:29      4   left
                            78    count 2022-11-27 04:17:39      4   left
...                                                     ...    ...    ...
        2023-03-15 16:00:57 26    count 2023-03-15 21:38:28      4  right
                            27    count 2023-03-15 21:38:39      4  right
                            28    count 2023-03-15 21:38:50      4  right
                            29    count 2023-03-15 21:39:05      4  right
                            30    count 2023-03-15 21:39:30      4   left

                                         outcome         rt  init_time  \
name    session_datetime    trial task
Candace 2022-11-26 19:24:21 73    count  correct     1.8614     2.2945
                            74    count    error     1.7259    14.2172
                            76    count    error     1.8398    51.6365
                            77    count  correct     1.7971     6.3235
                            78    count  correct     2.4076     7.9779
...                                          ...        ...        ...
        2023-03-15 16:00:57 26    count  correct     1.8406     6.9519
                            27    count    error     2.2046     5.7717
                            28    count  correct     1.9364    11.1666
                            29    count    error     2.1106    20.1709
                            30    count    error  5786.5100  -100.0000

                                        correct_side  lambda_left  \
name    session_datetime    trial task
Candace 2022-11-26 19:24:21 73    count         left     0.911348
                            74    count        right     0.014849
                            76    count         left     0.931994
                            77    count         left     0.909185
                            78    count         left     0.975284
...                                              ...          ...
        2023-03-15 16:00:57 26    count        right     0.090157
                            27    count         left     0.904565
                            28    count        right     0.017489
                            29    count         left     0.913027
                            30    count        right     0.082088

                                         lambda_right  flash_bins  \
name    session_datetime    trial task
Candace 2022-11-26 19:24:21 73    count      0.053337           0
                            74    count      0.939782           0
                            76    count      0.029913           0
                            77    count      0.097978           0
                            78    count      0.016023           0
...                                               ...         ...
        2023-03-15 16:00:57 26    count      0.994053           0
                            27    count      0.023412           0
                            28    count      0.990322           0
                            29    count      0.099589           0
                            30    count      0.926916           0

                                        flashes_left flashes_right  reward  \
name    session_datetime    trial task
Candace 2022-11-26 19:24:21 73    count   0010001100    0010000010       1
                            74    count   0000010000    0000010010       0
                            76    count   0001010100    1000000100       0
                            77    count   0000000011    0000010000       1
                            78    count   0000100011    1000000100       1
...                                              ...           ...     ...
        2023-03-15 16:00:57 26    count   0001000000    0010000100       1
                            27    count   0000010011    0000010001       0
                            28    count   1000000010    1010010000       1
                            29    count   0110000000    0000010000       0
                            30    count   0101000000    0001101000       0

                                         training_criterion label  probe  \
name    session_datetime    trial task
Candace 2022-11-26 19:24:21 73    count               0.125  None      0
                            74    count               0.125  None      0
                            76    count               0.125  None      0
                            77    count               0.125  None      0
                            78    count               0.125  None      0
...                                                     ...   ...    ...
        2023-03-15 16:00:57 26    count               0.125  None      0
                            27    count               0.125  None      0
                            28    count               0.125  None      0
                            29    count               0.125  None      0
                            30    count               0.125  None      0

                                         freerw  isprobe  reversal  heavy_tail
name    session_datetime    trial task
Candace 2022-11-26 19:24:21 73    count       1        0         0           0
                            74    count       1        0         0           0
                            76    count       1        0         0           0
                            77    count       1        0         0           0
                            78    count       1        0         0           0
...                                         ...      ...       ...         ...
        2023-03-15 16:00:57 26    count       0        0         0           0
                            27    count       0        0         0           0
                            28    count       0        0         0           0
                            29    count       0        0         0           0
                            30    count       0        0         0           0

[15645 rows x 20 columns]

In [11]:
np.mean(data['reward'])

0.5083413231064238